.product {
  background-color: rgb(255, 255, 255);
  padding: 10px 15px;
  margin: 15px;
  flex: 1;
  &__rating {
    color: goldenrod;
  }
  &__btn {
    display: block;
    background-color: goldenrod;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 110%;
    margin: 0 auto;
    margin-top: 20px;
  }
  &__img {
    display: block;
    width: 150px;
    margin: 0 auto;
  }
}
