.topbar {
  height: 50px;
  width: 100%;
  background-color: #187;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  &__logo {
    color: white;
    margin-left: 2rem;
  }
  &__left {
    flex: 3;
  }
  &__center {
    flex: 5;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 30px;
  }
  &__right {
    flex: 4;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    color: white;
  }
  &-link {
    margin-right: 10px;
  }
  &-icon {
    margin-right: 15px;
    position: relative;
    cursor: pointer;
    svg {
      height: 20px;
      color: white;
      width: 20px;
    }
    &__badge {
      position: absolute;
      top: -5px;
      right: -10px;
      height: 15px;
      width: 15px;
      background-color: red;
      border-radius: 50%;
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }
  &__img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
  &-links {
    display: flex;
  }
  &-icons {
    display: flex;
  }
}
.search-bar {
  display: flex;
  flex: 1;
  align-items: center;
  &__icon {
    font-size: 20px !important;
    margin-right: 5px;
  }
  &__input {
    flex: 1;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
