.card {
  .info {
    display: flex;
  }
  &-user-img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
  .postImg {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
}
