.collection {
  &-item {
    width: 23%;
    height: 200px;
  }
  &-img {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }
  &-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
  }
}
