.cart-details {
  height: 100vh;
  width: 30vw;
  background-color: red;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 2;
  transition: right 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.show {
    right: 0;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.15);
    &-close {
      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      background-color: #ddd;
    }
  }
  &__body {
    background-color: blue;
    align-self: center;
  }
  &__items {
    justify-self: flex-start;
  }
  &__btn {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    font-size: 1.7rem;
    cursor: pointer;
    &-text {
      margin-left: 2rem;
      color: white;
    }
    &-amount {
      padding: 1rem 1.5rem;
      border-radius: 2rem;
      background-color: white;
      color: var(--primary-color);
    }
  }
}
