.header {
  padding: 2rem 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  &__logo {
    display: inline-block;
    img {
      display: inline-block;
      height: 25px;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.main-nav {
  ul {
    list-style: none;
    li {
      display: inline-block;
      &:not(:first-of-type) {
        margin-left: 20px;
      }
      &:last-of-type {
        a {
          background-color: var(--primary-color);
          color: white;
          padding: 0.5rem 1.5rem;
          border-radius: 0.5rem;
        }
      }
      a {
        color: #777;
        text-decoration: none;
        transition: color 0.3s;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
}
