.section-menu__sidebar {
  width: 20%;
}
.menu__dropdown {
  transition: height 0.5s 0s, opacity 0.3s 0.5s;
  height: 0;
  opacity: 0;
  visibility: hidden;
  &--show {
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
}
.menu__sidebar-item {
  margin-bottom: 1.5rem;
  & > div {
    display: flex;
    align-items: center;
    span:first-child {
      margin-right: 1rem;
    }
    span:last-child {
      margin-left: auto;
    }
  }
}
