.product {
  border: 1px solid #777;
  &__rating {
    color: goldenrod;
  }
  &__btn {
    display: block;
    background-color: goldenrod;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 110%;
  }
  &__img {
    width: 150px;
  }
}
