.btn {
  background-color: transparent;
  border: 1px solid #777;
  font-size: 1.6rem;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  &--sm {
    min-width: 12rem;
    padding: 1rem 1.3rem;
  }
  &--bg {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    display: block;
  }
  &--full {
    background-color: #408080;
    color: #fff;
    border: 1px solid #408080;
  }
}
