.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  position: relative;
  &__buttons {
    button:first-of-type {
      margin-right: 2rem;
    }
    @media (max-width: 56.25em) {
      //900px
      display: none;
    }
  }
}
