* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: "brands";
  src: url(webfonts/fa-light-300.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "brands";
  src: url(webfonts/fa-brands-400.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "brands";
  src: url(webfonts/fa-solid-900.ttf);
  font-style: normal;
  font-weight: 900;
}
:root {
  --color-primary: #408080;
}

body {
  font-size: 1.8rem;
  font-weight: 400;
  background-image: url("../assets/home-bg.png");
  background-size: cover;
  background-position: center;
  //   font-family: brands;
  //   font-weight: 300;
}
.container {
  max-width: 114rem;
  margin: 0 auto;
}
.home-main {
  padding: 4rem 0;
}
.heading__primary {
  margin-bottom: 4rem;
  font-size: 4.5rem;
}
.heading__hexa {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
