.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 99vw;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.603);
  padding: 1rem;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    margin-bottom: 0.5rem;
  }
  &__right {
    a {
      color: #333;
      display: inline-block;
      margin-left: 1rem;
    }
  }
}
