.header {
  height: 6rem;
  width: 98.5vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.259);
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo-container {
    width: 100px;
  }
  &__logo {
    width: 50px;
  }
  &__menu {
    & > * {
      margin-left: 1.5rem;
    }
  }
}
