.headertop {
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2%;
  &__left {
    a {
      color: var(--gray-text);
      text-decoration: none;
      &:not(:last-child) {
        margin-right: 1.3rem;
      }
    }
  }
  &__right {
    display: flex;
  }
  &__socials {
    a {
      color: var(--gray-text);
      &:nth-child(1):hover {
        color: #3b5998;
      }
      &:nth-child(2):hover {
        color: #00acee;
      }
      &:nth-child(3):hover {
        color: #0077b5;
      }
      &:nth-child(4):hover {
        color: red;
      }
    }
    a:not(:last-child) {
      margin-right: 1rem;
    }
  }
  &__button a {
    padding: 0 3rem;
    color: var(--gray-text);
    text-decoration: none;
  }
  &__language select {
    border: none;
    border-bottom: 1px solid var(--gray-text);
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
}
