.header {
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2%;
    color: #fff;
    background-color: #151c2b;
  }
  &__humbarger button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
  }
  &__main-menu {
    margin-right: auto;
    margin-left: 10rem;
    ul {
      list-style: none;
    }
    li {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 2rem;
      }
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
