.top-news {
  display: flex;
  padding: 0 2%;
}
.left-news {
  flex: 0 0 25%;
  &__box {
    border-bottom: 1px solid var(--text-color);
  }
}
.middle-news {
  flex: 0 0 45%;
  margin: 0 2.5%;
  &__img {
    width: 100%;
    object-fit: cover;
  }
}
.right-news {
  flex: 0 0 25%;
  &__box {
    border-bottom: 1px solid var(--text-color);
    padding-top: 1.75rem;
  }
  &__img {
    flex: 0 0 25%;
    height: 10rem;
    width: 10rem;
    display: block;
    background-color: gray;
  }
}
