.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
