.menu-item {
  max-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
  &:first-child {
    margin-right: 7.5px;
  }
  &:last-child {
    margin-left: 7.5px;
  }
  &.large {
    height: 300px;
    max-width: 45%;
    width: 45%;
  }
  &:hover {
    cursor: pointer;
    & .menu-background {
      transform: scale(1.1);
      transition: transform 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}
.content {
  height: 90px;
  padding: 0 25px;
  background-color: #fff;
  opacity: 0.7;
  font-family: sans-serif;
  font-size: 80%;
}
.title {
  margin-bottom: 0;
}
.menu-background {
  height: 100%;
  width: 100%;
  position: absolute;
}
